@tailwind base;
@tailwind components;
@tailwind utilities;

.logo::after {
    content: 'BETA';
    font-size: 10px;
    vertical-align: top;
    font-style: normal;
    font-weight: 600;
    opacity: .5;
 }